{%extends './base.html '%}
{%  block title%} wordle {%endblock%}


{%block body%}
<nav class="navbar bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/bf/Escudo_Universidad_de_Medellin.svg/1200px-Escudo_Universidad_de_Medellin.svg.png" alt="Logo" width="90" height="80" class="d-inline-block align-text-top">
      Wordle UdeM
    </a>

    <!-- Primer botón -->
    <button class="btn btn-primary"></button>

    <!-- Segundo botón -->
    <button class="btn btn-primary "></button>
  </div>
</nav>


{%endblock%}
